.page-container {
    display: flex;
    flex-direction: row;
    width: 95vw;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    margin: 0;
    box-sizing:inherit;
    line-height: 1.5;
    font-family: Verdana, sans-serif;
}

.main-header {
    font-size:48px;
    font-weight: 400;
    color: #f44336;
}

.sub-header {
    font-weight: 400;
    font-size: 18px;
}

.header-divider {
    border-radius:4px;
    width:50px;
    border:5px solid red
}

.body-container {
    margin-top:75px;
}

.sidebar-container {
    z-index: 3;
    width: 350px;
    height: 100%;
    font-weight: bold;
    display: block !important;
    color: white !important;
    background-color: #f44336 !important ;
    padding: 8px 16px !important;
    font-size: 18px !important;
    top: 0;
    position: fixed !important;
    overflow: auto;
}

.sidebar-page-link {
    display: block;
    padding: 0px 16px;
    text-decoration: none;
    color: white;
}

.sidebar-page-link:hover {
    color: black !important;
    background-color: #fff !important;
}

.sidebar-padder {
    margin-left:390px;
    margin-right:40px
}

.sidebar-title {
    padding: 0.01em 16px;
    padding-top: 64px;
    padding-bottom: 64px;
    font-weight: 400;
    margin: 10px 0;
    font-size: 24px;
    font-family: "Segoe UI", Arial, sans-serif;
}

.name-textbox {
    font-size: 20px;
}

.name-entry-container {
    display: flex;
    flex-direction: row;
}

.button {
    background-color: #e9e9ed;
    color: black;
    border: 1px solid black;
    padding: 0px 5px;
    border-radius: 4px;
}

.button:hover {
    background-color: #d0d0d7;
}

.button:active {
    background-color: #b1b1b9;
}

.button:disabled {
    background-color: #f4f4f6;
    border: 1px solid #c7c7ce;
}

.start-game {
    margin-left: 15px;
}
